<div class="w-full h-full flex flex-col">
    <div class="w-full h-12 flex items-center justify-between p-4 border-b border-primary font-medium space-x-2">
        <div class=""><%= breadcrumbs %></div>
    </div>
    <div class="h-full w-full overflow-y-auto p-4 flex flex-col">
        <h2>My Cart Items</h2>
        <% if @cart.cart_items.count == 0 %>
            <div class="w-full h-full flex items-center justify-center">
                <p>Your cart is empty! Please add some products</p>
            </div>
        <% else %>
            <div class="grid grid-cols-8 font-bold border border-primary">
                <div class="p-2 border-b border-primary">id</div>
                <div class="p-2 border-b border-primary">Product Name</div>
                <div class="p-2 border-b border-primary">Description</div>
                <div class="p-2 border-b border-primary"></div>
                <div class="p-2 border-b border-primary text-right">Quantity</div>
                <div class="p-2 border-b border-primary">Price</div>
                <div class="p-2 border-b border-primary">Total</div>
                <div class="p-2 border-b border-primary">Action</div>
            </div>
            <div class="grid grid-cols-8 border border-primary">
                <% @cart.cart_items.each_with_index do |item, i|%>
                    <div class="p-2 border-b border-primary"><%= i+1 %></div>
                    <div class="p-2 border-b border-primary">
                        <span><%= item.product.name %></span>
                    </div>
                    <div class="p-2 border-b border-primary"><%= item.product.description %></div>
                    <div class="p-2 border-b border-primary">
                        <% if item.product.images.attached? %>
                            <%= image_tag item.product.images.first, class: "w-12 h-12 rounded-md" %>
                        <% end %>
                    </div>
                    <div class="p-2 border-b border-primary font-medium text-right">
                        <%= item.quantity %> X 
                    </div>
                    <div class="p-2 border-b border-primary font-medium"><%= item.product.price %></div>
                    <div class="p-2 border-b border-primary font-bold"><%= (item.product.price * item.quantity).to_f.round(2) %></div>
                    <div class="flex p-2 border-b border-primary">
                        <%= form_with(url: update_item_cart_path(item, op: "subtract"), method: :patch, class: "border border-primary w-20 h-8 flex items-center justify-center text-center rounded-l-md") do |form|%>
                            <%= form.submit "-", class: "flex-1 text-md font-bold text-primary block cursor-pointer" %>
                        <% end %>
                        <%= form_with(url: update_item_cart_path(item, op: "add"), method: :patch, class: "border border-primary bg-primary w-20 h-8 flex items-center justify-center text-center rounded-r-md") do |form|%>
                            <%= form.submit "+", class: "flex-1 text-md font-bold text-white block cursor-pointer" %>
                        <% end %>
                    </div>
                <% end %>
            </div>
            <div class="grid grid-cols-8 font-bold border border-primary">
                <div class="col-span-6 p-2 border-b border-primary">Total</div>
                <div class="p-2 border-b border-primary"><%= @cart.total_price.to_f.round(2) %></div>
                <%= form_with(model: Order.new, method: :post, class: "flex items-center justify-center border-b border-primary") do |form| %>
                    <%= form.submit "Place Order", class: "bg-sky-500 text-white p-2 rounded-md my-2 font-bold cursor-pointer" %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>