<div class="w-full h-full flex flex-col">
    <div class="w-full h-12 flex items-center p-4 border-b border-primary font-medium space-x-2">
        <%= breadcrumbs %>
    </div>
    <div class="h-full w-full overflow-y-auto p-4 flex flex-col space-y-1">
        <% if @product.images.attached? %>
            <div class="grid grid-cols-4 flex-wrap gap-2">
                <% @product.images.each do |image| %>
                    <div class="w-full h-44 rounded-md relative">
                        <%= image_tag image, class: "w-full h-44 rounded-md" %>
                        <%= form_with(url: destroy_image_product_path(image.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "absolute bottom-0 z-20 bg-red-500 text-white p-1 text-sm") do |form| %>
                            <%= form.submit "Delete Image"%>
                        <% end %>
                    </div>
                <% end %>
            </div>
        <% end %>
        <p><%= @product.name %></p>
        <p><%= @product.description %></p>
        <p>Price: Rs. <%= @product.price.to_f.round(2) %></p>
        <p>Quantity: <%= @product.stock %></p>
        <% if @product.is_editable? %>
            <div class="flex self-start items-center justify-start space-x-2">
                <%= link_to "Edit", edit_product_path(@product), class: "w-full h-full text-center my-auto" %> <span>|</span>
                <%= form_with url: product_path(@product), method: :delete, class: "w-full h-full text-center my-auto" do |form| %>
                    <%= form.submit "Delete" %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>